@media only screen and (min-width: 576px) and (max-width: 1199.98px) {
  .masthead {
    padding: 5em 0;
  }
  .masthead-intro {
    font-size: 3em;
  }
  .masthead-heading {
    font-size: 0.5em;
  }
  .about {
    padding: 0 3em;
  }
  .footer-about {
    padding: 0 3em;
    color: #ffffff;
  }

  .Card {
    display: wrap;
  }

  .profile {
    padding: 0 3em;
    font-size: 3em;
  }
}

#carousel {
  opacity: 90%;
}

/* Footer Styling */

footer {
  background-color: #f1f3f5;
  padding: 40px 0;
  font-family: "Montserrat", sans-serif;
}

footer h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.footer-about > p {
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-about {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

footer li {
  margin-right: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

footer i {
  margin-right: 10px;
  color: #333;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.content-footer {
  padding: 2em 0;
  margin-top: 3em;
  background: #f1f3f5;
}
/* card home page */

.Card-section {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-top: 100vh;
  margin: 3vh 5vh;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: start;
}

body {
  background-color: #f1f3f5;
}

/* signup/login */

.signupFrm {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.signupFrm2 {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0%;
}

#label {
  margin-bottom: -5vh;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px var(--color);
  /* rgba(92, 99, 105, .2); */
}

.form2 {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 10px 25px var(--color);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #b4cfea;
}

.titlefrm {
  font-size: 40px;
  color: #b4cfea;
  margin-bottom: 10px;
  text-align: center;
}

.titleName {
  font-size: 25px;
  text-align: center;
  color: #bad7f5;
}

.titleHome {
  font-size: 20px;
  margin-bottom: 30px;
  color: #7eb7f0;
  text-shadow: #9ebedf;
  text-align: center;
}

.titleCard {
  font-size: 30px;
  margin-bottom: 30px;
  color: #3f92e6;
  text-shadow: #9ebedf;
  text-align: center;
}

.titleCard2 {
  border-radius: 2px solid;
  font-size: 30px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.titleNav {
  font-size: 30px;
  text-align: center;
  color: #7eb7f0;
  text-shadow: #9ebedf;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

/* Styling text labels */

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #b4cfea;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.logoutBtn {
  background-color: #b4cfea;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-align: center;
  align-items: center;
}

.submitBtn:hover {
  background-color: #b4cfea;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #b4cfea;
}

.input:focus {
  border: 2px solid #b4cfea;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/* profile charirty */
.profile {
  background-color: white;
  width: 500px;
  height: 600px;
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 0 10px 25px var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 10px 20px;
  margin: auto;
}
.reviews {
  background-color: white;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px var(--color);
  text-align: center;
}
.reviews p {
  border: 1px solid #b4cfea;
}

.profile2 {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
/*signups */

/* signup volunteer background */
.page {
  background-image: url("/images/background3.jpg");
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* signup charity background */
.page2 {
  background-image: url("/images/pexels-julia-m-cameron-6995015.jpg");
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 105vh;
}

/* login background */
.page3 {
  background-image: url("/images/background6.jpg");
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* home page */

.description {
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  padding: 20px 40px;
  box-shadow: 0 20px 30px #33333394;

  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
}

/*
.description p {
  display: flex;
  align-items: center;
  text-align: justify;
} 
#description {
  text-align: center;
  color: black;
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: white;
}*/

.Card {
  box-shadow: 0 20px 30px var(--color);
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.08em;
}



.submitBtnHome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border: none;
  background-color: #a3cbf3;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;

}

/*signup dropdwons*/

.inputContainer {
  display: inline-block;
  flex-direction: row;
}

.dropdwons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 30px;
}

@media (max-width: 767px) {
  /* Adjust this breakpoint as needed */
  .inputContainer {
    display: block;
    margin-right: 0;
    margin-bottom: 10px; /* Adjust this value as needed */
  }
}


/*card size */

.cardtotal {
height: 730px;

}

#urgentcard {
  bottom: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

